<ion-header>
  <ion-toolbar>
    <ion-title>Select Drone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="deviceList.length==0">No devices found. Ensure the drone is powered on and within range.</ng-container>
      <ng-container *ngFor="let d of deviceList">
      <ion-item button (click)="connect(d)">
          <div>
            <h2 style="display: block">{{d.name}}:</h2> <h5>{{d.id}}</h5>
            <p>{{d.advertising}}</p>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button expand="full" (click)="dismiss()">
    Close
  </ion-button>
</ion-content>
